
*.class
*.jar
/desktop/TRON_DESKTOP/build/
/desktop/TRON_DESKTOP/dist/
*.class
target/classes/.netbeans_automatic_build
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/test-classes/.netbeans_automatic_build
target/maven-archiver/pom.properties
target/maven-archiver/pom.properties
desktop/TRON_DESKTOP/build/classes/tron/TRON.class
desktop/TRON_DESKTOP/build/built-jar.properties
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
