
*.class
*.jar
/desktop/TRON_DESKTOP/build/
/desktop/TRON_DESKTOP/dist/
*.class
target/classes/.netbeans_automatic_build
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/test-classes/.netbeans_automatic_build
/desktop/TRON_DESKTOP/nbproject/private/
desktop/TRON_DESKTOP/nbproject/private/private.xml
target/maven-archiver/pom.properties
